.main {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../assets/33901.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*.blueCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
}

.img:hover {
  cursor: pointer;
}

.img {
  width: 100px;
  height: 150px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.flipped {
  transform: rotateY(180deg);
} */

.memoryGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}

.card {
  width: 100px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.flip {
  transform: rotateY(180deg);
}

.info {
  margin-top: 20px;
  position: absolute;
  bottom: 20%;
  left: 80%;
  background-color: red;
  color: white;
  border-radius: 6px;
  padding: 5px;
}
